<link rel="stylesheet" href="./sly/css/app/widgets/grid_gallery/style.css" />
<div
  v-if="Object.keys(data.{{{widget.widget_id}}}.content.annotations).length > 0"
>
  <div
    v-if="data.{{{widget.widget_id}}}.widget_routes && data.{{{widget.widget_id}}}.widget_routes.image_clicked_cb"
  >
    <sly-grid-gallery
      :content="data.{{{widget.widget_id}}}.content"
      :options="state.{{{widget.widget_id}}}.options"
      :active-figure="state.{{{widget.widget_id}}}.activeFigure"
      @input="state.{{{widget.widget_id}}}.selectedImage = $event; post('/{{{widget.widget_id}}}/image_clicked_cb')"
    >
      <template v-slot:card-footer="{ annotation }">
        <div
          v-if="annotation.title && annotation.title.length > 0"
          style="text-align: center; margin-top: 5px"
        >
          <el-tag
            v-if="!annotation.title_url"
            v-html="annotation.title"
            type="primary"
            style="height: 100%"
          ></el-tag>
          <a v-if="annotation.title_url" :href="`${annotation.title_url}`">
            <el-tag
              v-html="annotation.title"
              type="primary"
              style="height: 100%"
            ></el-tag>
          </a>
        </div>
      </template>
    </sly-grid-gallery>
  </div>
  <div v-else>
    <sly-grid-gallery
      v-loading="data.{{{widget.widget_id}}}.loading"
      :content="data.{{{widget.widget_id}}}.content"
      :options="state.{{{widget.widget_id}}}.options"
      :active-figure="state.{{{widget.widget_id}}}.activeFigure"
    >
      <template v-slot:card-footer="{ annotation }">
        <!-- Switch -->
        <!-- <div style="margin-top: 6px; justify-content: left" class="fflex">
          <el-switch
            on-color="#13ce66"
            off-color="#ff4949"
            on-text=""
            off-text=""
            :value="state.{{{widget.widget_id}}}.reviewStates[annotation.image_id]"
            @input="state.{{{widget.widget_id}}}.reviewStates[annotation.image_id]=$event"
          >
          </el-switch>
          <span class="ml5"
            >{{ state.{{{widget.widget_id}}}.reviewStates[annotation.image_id]
            >?'Accept':'Reject'}}</span
          >
        </div> -->
        <!-- Tags -->
        <div
          v-if="annotation.image_name && annotation.image_name.length > 0"
          style="text-align: left; margin-top: 6px"
        >
          <span>{{annotation.image_name}}</span>
          <hr style="opacity: 0.5" />
        </div>
        <div style="margin-top: 6px; justify-content: center">
          <el-radio-group
            size="small"
            :value="state.{{{widget.widget_id}}}.reviewStates[annotation.image_id]"
            @input="state.{{{widget.widget_id}}}.reviewStates[annotation.image_id]=$event"
          >
            <el-radio-button label="accepted" class="accepted"
              >Accept</el-radio-button
            >
            <el-radio-button label="ignore" class="ignore"
              >Ignore</el-radio-button
            >
            <el-radio-button label="rejected" class="rejected"
              >Reject</el-radio-button
            >
          </el-radio-group>
        </div>
        <div
          v-if="annotation.tags.length > 0"
          style="text-align: left; margin-top: 5px; white-space: normal"
        >
          Tags:
          <!-- <span
            v-for="(tagItem, index) in annotation.tags"
            :key="index"
            style="display: block; margin-left: 37px"
            :style="index === 0 ? 'display: inline; margin-left: 0; white-space: nowrap' : 'display: block; margin-left: 37px'"
          >
            <i
              class="zmdi zmdi-circle"
              style="margin-right: 2px; vertical-align: middle"
              :style="{color: tagItem.color}"
            ></i>
            <b
              style="
                font-size: 16;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 310px;
                display: inline-block;
                vertical-align: middle;
              "
              :title="tagItem.value ? `${tagItem.title}: ${tagItem.value}` : tagItem.title"
            >
              {{ tagItem.title }}<span v-if="tagItem.value"
                >: {{ tagItem.value }}</span
              >
            </b>
          </span> -->
          <span
            v-for="(tagItem, index) in annotation.tags"
            :key="index"
            :style="index === 0 ? 'display: inline; margin-left: 0' : 'display: block; margin-left: 37px'"
          >
            <el-popover
              v-if="tagItem.type !== 'none' && state.{{{widget.widget_id}}}.editTags"
              placement="top"
              trigger="click"
              v-model="tagItem.showPopover"
              style="min-width: auto; width: auto"
              :style="{ maxWidth: '300px', width: 'auto', height: 'auto' }"
            >
              <el-input-number
                v-if="tagItem.type === 'any_number'"
                v-model="tagItem.value"
                :min="0"
                :value="state.{{{widget.widget_id}}}.tagValues[tagItem.id]"
                @input="(evt) => { state.{{{widget.widget_id}}}.tagValues[tagItem.id]=evt; state.{{{widget.widget_id}}}.tagChangeStates[tagItem.id]=evt}"
              ></el-input-number>
              <el-input
                v-if="tagItem.type === 'any_string'"
                v-model="tagItem.value"
                type="textarea"
                :autosize="{ minRows: 2, maxRows: 6}"
                placeholder="Input tag value"
                :value="state.{{{widget.widget_id}}}.tagValues[tagItem.id]"
                @input="(evt) => { state.{{{widget.widget_id}}}.tagValues[tagItem.id]=evt; state.{{{widget.widget_id}}}.tagChangeStates[tagItem.id]=evt}"
              ></el-input>
              <el-select
                v-if="tagItem.type === 'oneof_string'"
                v-model="tagItem.value"
                placeholder="Select tag value"
                :style="{ minWidth: '100px', maxWidth: '300px', width: 'auto' }"
                :value="state.{{{widget.widget_id}}}.tagValues[tagItem.id]"
                @input="(evt) => { state.{{{widget.widget_id}}}.tagValues[tagItem.id]=evt; state.{{{widget.widget_id}}}.tagChangeStates[tagItem.id]=evt}"
              >
                <el-option
                  v-for="option in tagItem.options"
                  :key="option"
                  :label="option"
                  :value="option"
                ></el-option>
              </el-select>
              <el-tag
                slot="reference"
                :style="{
                  display: 'inline-block',
                  maxWidth: '310px',
                  overflow: 'hidden',
                  textOverflow: 'ellipsis',
                  whiteSpace: 'nowrap',
                  verticalAlign: 'middle',
                  fontSize: '12px',
                  backgroundColor: 'transparent',
                  border: `2px solid ${tagItem.color}`,
                  color: 'black',
                  marginBottom: '2px',
                }"
                :effect="tagItem.value ? 'dark' : 'plain'"
                :title="tagItem.value ? `${tagItem.title}: ${tagItem.value}` : tagItem.title"
              >
                {{ tagItem.title }}<span v-if="tagItem.value"
                  >: {{ tagItem.value }}</span
                >
              </el-tag>
            </el-popover>
            <el-tag
              v-if="tagItem.type === 'none'"
              :style="{
                  display: 'inline-block',
                  maxWidth: '310px',
                  overflow: 'hidden',
                  textOverflow: 'ellipsis',
                  whiteSpace: 'nowrap',
                  verticalAlign: 'middle',
                  fontSize: '12px',
                  backgroundColor: 'transparent',
                  border: `2px solid ${tagItem.color}`,
                  color: 'black',
                  marginBottom: '2px',
                }"
              :effect="tagItem.value ? 'dark' : 'plain'"
              :title="tagItem.value ? `${tagItem.title}: ${tagItem.value}` : tagItem.title"
            >
              {{ tagItem.title }}<span v-if="tagItem.value"
                >: {{ tagItem.value }}</span
              >
            </el-tag>
            <el-tag
              v-if="tagItem.type !== 'none' && !state.{{{widget.widget_id}}}.editTags"
              :style="{
                  display: 'inline-block',
                  maxWidth: '310px',
                  overflow: 'hidden',
                  textOverflow: 'ellipsis',
                  whiteSpace: 'nowrap',
                  verticalAlign: 'middle',
                  fontSize: '12px',
                  backgroundColor: 'transparent',
                  border: `2px solid ${tagItem.color}`,
                  color: 'black',
                  marginBottom: '2px',
                }"
              :effect="tagItem.value ? 'dark' : 'plain'"
              :title="tagItem.value ? `${tagItem.title}: ${tagItem.value}` : tagItem.title"
            >
              {{ tagItem.title }}<span v-if="tagItem.value"
                >: {{ tagItem.value }}</span
              >
            </el-tag>
          </span>
        </div>
        <div
          v-else
          style="text-align: left; margin-top: 5px; white-space: normal"
        >
          <span style="color: #5a6772">No tags</span>
        </div>
        <!-- Classes -->
        <div
          v-if="annotation.classes.length > 0"
          style="text-align: left; margin-top: 5px; white-space: normal"
        >
          Classes:
          <span
            v-for="(classItem, index) in annotation.classes"
            :key="index"
            style="display: block; margin-left: 56px"
            :style="index === 0 ? 'display: inline; margin-left: 0; white-space: nowrap' : 'display: block; margin-left: 56px'"
          >
            <i
              class="zmdi zmdi-circle"
              style="margin-right: 2px; vertical-align: middle"
              :style="{color: classItem.color}"
            ></i>
            <b
              style="
                font-size: 16;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 310px;
                display: inline-block;
                vertical-align: middle;
              "
              :title="classItem.title"
              >{{ classItem.title }}</b
            >
          </span>
        </div>
        <div
          v-else
          style="text-align: left; margin-top: 5px; white-space: normal"
        >
          <span style="color: #5a6772">No classes</span>
        </div>
      </template>
    </sly-grid-gallery>
  </div>
</div>
<div
  v-if="Object.keys(data.{{{widget.widget_id}}}.content.annotations).length === 0"
>
  {{{widget._empty_message}}}
</div>
